//About us section 
	#about{
		background-color: $yellow;

		.box:first-of-type{
			width: 60%;
			transform: rotate(-8deg);
		}

	}

@media screen and #{$mediumScreen}{
	#about{

		.box:last-of-type{
			padding: 1.5rem;
			width: 80%;
			margin: 2rem auto;
		}

	}
}


