$baseFontSize: 1.3rem;
$bodyFont: "Vollkorn", serif;
$headerFont: "Signika", sans-serif;

//base font sizes and styles

body{
	font-size: $baseFontSize;
	font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6{
	font-family: $headerFont;
	font-size: $baseFontSize * 1.5;
}

@media screen and #{$mediumScreen}{
	body {
		font-size: $baseFontSize * 1.5;
	}
	h1, h2, h3, h4, h5, h6{
		font-size: $baseFontSize * 2;
	}
}

@media screen and #{$webScreen}{
	body{
		font-size: $baseFontSize * 1;	
	}

	h1, h2, h3, h4, h5, h6{
		font-size: $baseFontSize * 1.5;
	}

}

//link colors

a, a:visited{
	text-decoration: none;
	color: black;
} 

a:hover, a:active {
	color: gray;
}

nav li{
	margin: 1%;
}