//Icing Decorations pseudo-classes

	section:after, #mobileNav:after {
		max-width: 100%;
		content: "";
		display: block;
		width: 100%;
		height: 20rem;
		position: relative; //to position element on top of other stuff
		background: url(../images/icing/icing3short.svg) no-repeat;
		background-position: left;
		z-index: 0; //lowest level
		
		display: #{$icingHide};
		background-size: #{$icingSize};
		background-clip: #{$icingClip};
	}

	section:nth-child(even):after{
		background-image: url(../images/icing/icing2short.svg);
	}

	#mobileNav:after {
		background-image: url(../images/icing/icingBottom.svg);
	}




//Hide the icing before selection in medium and larger screens

@media screen and #{$mediumScreen}{
	section#landing:after{
		display: none;
	}
}



//Breakpoints: Where the icing images start to get clipped by the container


@media screen and #{$mediumScreen}{
	section:after, #mobileNav:after{
		background-image: url(../../images/icing3wide.svg);
	}
	section:nth-child(even):after{
		background-image: url(../../images/icing2wide.svg);
	}

	//mobileNav has been hidden, so move bottom image to visit section instead of mobilenav 
	#visit:after{
		background-image: url(../../images/icingBottom.svg);
		background-size: 150%;
	}
}


// @media screen and #{$webScreen}{
// 	section:after, #mobileNav:after{
// 		background-size: contain;
// 	}
// }