//landing section

	img#logo{
		width: 60%;
		padding: 1rem;
	}

	#landing{

		address {
			margin: 30vh 1rem 6vh 1rem;
		}
	}

//giant cupcake
	#giantCupcakeBG{
		max-width: 100%;
		background: url(../images/bigCupcake2.png) 70% 0 / 150% scroll no-repeat;
	}


@media screen and #{$mediumScreen}{

	img#logo{
		width: 30%;
		margin: 2rem;
	}
		
	#landing address{
		margin-top: 15vh;
	}

	#giantCupcakeBG{
		background-size: 100%;
		background-position: 30% 0;
		background-attachment: fixed;
	}

	#landing:after{
		display: block;
	}
}