//news section

	#news{
		// padding-top: 10rem; //don't know what's messing up that I need this here...
		background-color: $pink;

		.pageLogo{
			margin-top: -6rem;
		}

		#headline, #headline ~ p{
			padding: 1rem;
		}

		#headline{
			margin-top: 1rem;
			width: 100%;
		}

		.box p{
			margin-bottom: .5rem;
		}

		.box{
			transform: rotate(5deg);
			width: 40%;
			position: absolute;
			margin-top: -110vh;
			margin-left: 55%;
		}

		#social{
			width: 100%;
			img {
				width: 25%;
				margin: 2%
			}
		}

	}

@media screen and #{$mediumScreen}{
	#news {
		.colorBox {
			background-color: $yellow;
			padding: 2rem;
			width: 70%;
			margin-right: 5%;
		}

		.box{
			transform: rotate(-5deg);
			width: 30%;

			position: absolute;
			margin-top: -60vh;
			margin-left: 3%;
			
		}

	}

}

