//Ordering section

	#ordering{
		background-color: $green;
		padding-top: 4rem;

		figure img{
			width: 100%;
		}

	}

@media screen and #{$mediumScreen}{
	#ordering{
		figure img{
			width: 50%;
			margin-right: 5%;
		}

		.pageLogo{
			margin-top: 45vh;
		}

		.box{
			width: 40%;
			position: absolute;
			transform: rotate(-10deg);
			margin-top: -85vh;
		}

		.colorBox{
			background-color: $yellow;
			margin-right: 5%;
			margin-top: 10vh;
			width: 70%;
		}
	}
}