$yellow: #F6F4D0;
$green: #B7E3A3;
$pink: #F69FCC;
$lightBrown: #B48967;
$darkBrown: #4A160D;
$lightGray: #EDECED;
$darkGray: rgb(25, 25, 20);

//breakpoints
$smallScreen: "(min-width: 450px)";
$mediumScreen: "(min-width: 600px)"; //formerly 450px
$normalScreen: "(min-width: 1200px)";
