body {
  font-size: 1.3rem;
  font-family: "Vollkorn", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Signika", sans-serif;
  font-size: 1.95rem; }

@media screen and (min-width: 700px) {
  body {
    font-size: 1.95rem; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 2.6rem; } }
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.3rem; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.95rem; } }
a, a:visited {
  text-decoration: none;
  color: black; }

a:hover, a:active {
  color: gray; }

nav li {
  margin: 1%; }

* {
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%; }

.clear:after {
  clear: both;
  display: table;
  content: " "; }

img {
  max-width: 100%;
  max-height: 100%; }

figure img {
  margin: 0 auto;
  display: block; }

#social img {
  display: inline-block; }

.box {
  background-color: #edeced;
  border: 4px solid #191914;
  padding: .75rem;
  margin: 1rem; }

.colorBox {
  padding: 1rem;
  margin: 0 auto; }

li a {
  display: block;
  width: 100%; }

#landing, #selection {
  min-height: 100vh; }

#about, #ordering, #news, #visit, #mobileNav {
  padding: 7rem 0;
  min-height: 100vh; }

.pageLogo {
  position: absolute;
  width: 40%;
  margin-top: -3rem;
  padding: .5rem;
  z-index: 30; }

.pageLogo:nth-child(even) {
  right: 0; }

@media screen and (min-width: 450px) {
  .pageLogo {
    width: 25%; } }
#webNav {
  position: fixed;
  width: 100%;
  text-align: right;
  z-index: 300; }

#webNav li {
  display: none; }

#hamburger {
  position: absolute;
  top: .5rem;
  right: 2%;
  z-index: 500;
  height: 3rem;
  width: 3rem;
  margin: .5rem .75rem; }

#mobileNav {
  width: 100%;
  background-color: #f6f4d0; }

#mobileNav ul {
  width: 100%;
  margin: 0 auto; }

#mobileNav li {
  display: block;
  width: 70%;
  height: 3rem;
  line-height: 3rem;
  margin: .25rem auto;
  text-align: center;
  background-color: #b48967;
  border-radius: 5px; }

#mobileNav li:active {
  background-color: #4a160d; }

@media screen and (min-width: 700px) {
  #webNav li {
    display: inline-block; }

  #mobileNav {
    display: none;
    position: fixed; }

  #hamburger {
    display: none; } }
img#logo {
  width: 60%;
  padding: 1rem; }

#landing address {
  margin: 30vh 1rem 6vh 1rem; }

#giantCupcakeBG {
  max-width: 100%;
  background: url(../images/bigCupcake2.png) 70% 0/150% scroll no-repeat; }

@media screen and (min-width: 700px) {
  img#logo {
    width: 30%;
    margin: 2rem; }

  #landing address {
    margin-top: 15vh; }

  #giantCupcakeBG {
    background-size: 100%;
    background-position: 30% 0;
    background-attachment: fixed; }

  #landing:after {
    display: block; } }
#selection figure {
  width: 50%;
  max-height: 60vh;
  height: 100%;
  overflow: hidden;
  float: left; }
#selection figure img {
  width: 150%; }
#selection figcaption {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center; }
#selection div.description {
  display: none; }

@media screen and (min-width: 700px) {
  div.description {
    display: block; }

  figcaption {
    position: relative;
    top: -30vh; } }
@media screen and (min-width: 700px), screen and (orientation: landscape) {
  #selection figure {
    width: 20%;
    max-height: 70vh;
    min-height: 40%;
    height: 50%;
    margin-left: 4%; } }
#ordering {
  background-color: #b7e3a3;
  padding-top: 4rem; }
  #ordering figure img {
    width: 100%; }

@media screen and (min-width: 700px) {
  #ordering figure img {
    width: 50%;
    margin-right: 5%; }
  #ordering .pageLogo {
    margin-top: 45vh; }
  #ordering .box {
    width: 40%;
    position: absolute;
    transform: rotate(-10deg);
    margin-top: -85vh; }
  #ordering .colorBox {
    background-color: #f6f4d0;
    margin-right: 5%;
    margin-top: 10vh;
    width: 70%; } }
#news {
  background-color: #f69fcc; }
  #news .pageLogo {
    margin-top: -6rem; }
  #news #headline, #news #headline ~ p {
    padding: 1rem; }
  #news #headline {
    margin-top: 1rem;
    width: 100%; }
  #news .box p {
    margin-bottom: .5rem; }
  #news .box {
    transform: rotate(5deg);
    width: 40%;
    position: absolute;
    margin-top: -97vh;
    margin-left: 65%; }
  #news #social {
    width: 100%; }
    #news #social img {
      width: 25%;
      margin: 2%; }

@media screen and (min-width: 700px) {
  #news .colorBox {
    background-color: #f6f4d0;
    padding: 2rem;
    width: 70%;
    margin-right: 5%; }
  #news .box {
    transform: rotate(-5deg);
    width: 30%;
    position: absolute;
    margin-top: -60vh;
    margin-left: 3%; } }
#visit {
  background-color: #b7e3a3; }
  #visit ul {
    width: 50%;
    margin: 1rem auto; }

@media screen and (min-width: 700px) {
  #visit .pageLogo {
    margin-top: -5rem; }
  #visit figure {
    float: left;
    width: 40%;
    margin-top: -10rem;
    margin-left: 10%;
    padding-top: 10rem; }
  #visit .box {
    transform: rotate(-5deg);
    width: 40%; }
  #visit .colorBox {
    float: left;
    width: 40%;
    margin: 0 auto; } }
#about {
  background-color: #f6f4d0; }
  #about .box:first-of-type {
    width: 60%;
    transform: rotate(-8deg); }

@media screen and (min-width: 700px) {
  #about .box:last-of-type {
    padding: 1.5rem;
    width: 80%;
    margin: 2rem auto; } }
section:after, #mobileNav:after {
  max-width: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 20rem;
  position: relative;
  background: url(../images/icing/icing3short.svg) no-repeat;
  background-position: left;
  z-index: 0;
  display: block;
  background-size: cover;
  background-clip: none; }

section:nth-child(even):after {
  background-image: url(../images/icing/icing2short.svg); }

#mobileNav:after {
  background-image: url(../images/icing/icingBottom.svg); }

@media screen and (min-width: 700px) {
  section#landing:after {
    display: none; } }
@media screen and (min-width: 700px) {
  section:after, #mobileNav:after {
    background-image: url(../images/icing3wide.svg); }

  section:nth-child(even):after {
    background-image: url(../images/icing2wide.svg); }

  #visit:after {
    background-image: url(../images/icingBottom.svg);
    background-size: 150%; } }
